html {
    height  : 100%;
    margin  : 0; 
    padding : 0;
}
body{
	height  : 100%;
	margin  : auto;
    padding : auto;
    
}

#main-container {
	margin-left : auto;
	margin-right: auto;

}
#button-zone {
	margin-bottom: 5px;
}
#serversSlider {
	display: block;
	height : 130px;
	overflow: auto;
	background-color: #D3D3D3;
}
#serversSlider ul {
	white-space: nowrap;
}
#serversSlider li {
	display: inline-block;
	list-style: none;
}
#serversSlider img {
	
	width: 50%;
	height: 35%;
}
.serverSlider {
	display: inline-block;
	width: 80px;
	height: 100px;
	
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid black;
}

/*
.server {
	display      : inline-block;
	float        : left; 
	margin-right : 10px;
	padding-left : 5px;
	padding-right: 5px;
	padding-top : 0;
	border       : 1px solid black;
	width		 : 200px; 
}
*/
.server {
	border       : 1px solid black;
	padding-right: 20px;
	padding-left: 20px;
	
}
.server-id {
	color : blue;
	float: right;
}
.shard {
	padding-bottom: 1px;
	margin-bottom: 10px;
	display: block;
	background-color: #D3D3D3;

	-moz-border-radius:10px 0;
	-webkit-border-radius:10px 0;
	border-radius:10px 0;
}

#serverContainer {
	
}
#serverContainer li{
	list-style : none;
}
#serverContainer img {
	width : 25%;
	height: 25%;
}

#submit-zone{
	margin-top: 20px;
	width: 800px;
}



[draggable] {
    cursor: move;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
