html {
    height  : 100%;
    margin  : 0; 
    padding : 0;
    min-height: 100%;
}
body{
	height  : 100%;
	margin  : auto;
    padding : auto;
    min-height: 100%;
}
.progress.overrideProgress{
	height: 15px;
	margin-bottom: 10px;
}
.panelSide {
	float: left;
	height: 100vh;
}


.removeServerText {
	font-weight: bold;
	color: #7e7e7e;
	float: left;
	padding-top: 35px;
	padding-left: 15px;
}
#main-container {
	margin-left : auto;
	margin-right: auto;
}
#button-zone {
	margin-top: 20px;
	margin-bottom: 5px;
}

#tableZone{
	display: block;
	float: left;
	min-height: 200px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 40px;
}
#tableZoneTmp{
	display: block;
	float: left;
	min-height: 200px;
	min-width: 230px;
	margin-top: 20px;
	margin-right: 20px;
}
#tableZoneTmp ul{
	list-style: none;
}

#tableZoneGroups{
	display: block;
	float: left;
	min-height: 200px;
	margin-top: 20px;
}
.tableGroup{
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color:  #f1f1f1;

	-moz-border-radius:10px 0;
	-webkit-border-radius:10px 0;
	border-radius:10px;
}
.tableGroup .suppressButton{
	float: right;
}
#serversSlider {
	display: block;
	height : 135px;
	overflow: auto;
	margin-top: 20px;
}
#serversSlider ul {
	white-space: nowrap;
}
#serversSlider li {
	display: inline-block;
	list-style: none;
}
#serversSlider img {
	
	width: 35px;
	height: 35px;
}
.serverSlider {
	display: inline-block;
	
	height: 100px;
	
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	
	background-color: #f1f1f1;
	border: 1px solid black;
	-moz-border-radius:10px 0;
	-webkit-border-radius:10px 0;
	border-radius:10px 0;
}
.button-clear{
	margin-top: -30px;
	margin-right: 20px;
	float: right;
}
.shards {
	border       : 1px solid black;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
.shardsContainer {
	overflow: auto;
	max-height: 300px;
}
.server-id {
	float: right;
	font-size: 0.8em;
}
.serverHeader {
	display: block;
	height: 60px;
	width: 100%;
	margin-bottom: 15px;
	font-weight: bold;
}
.shard {
	display: block;
	width: 100%;
	padding-bottom: 0.3px;
	margin-bottom: 5px;
	
	background-color: #dbdbdb;

	-moz-border-radius:10px 0;
	-webkit-border-radius:10px 0;
	border-radius:10px 0;
}

#serverContainer {
	height: 100%;
	border: 1px dashed black;
	margin-top: 20px;
}
#serverContainer li{
	list-style : none;
}
#serverContainer img {
	width: 50px;
	height: 50px;
}

#submit-zone{
	margin-top: 20px;
	width: 800px;
}

#trash {
	background-color: #d7d7d7;
	height: 100px;
	margin-top: 110px;
	
	border: 5px dashed  #fafafa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#trash img {
	float: right;
	width: 50px;
	height: 50px;
	margin-top: 20px;
	margin-right: 10px;
}

#changesZone {
	margin-top: 20px;
}

#changesZone ul li{
	list-style: none;
}
#changesZone img{
	width: 15px;
	height: 15px;
	float: right;
}
.changeContent{
	display: block;
	float: left;
	width: 92%;
}

.popover-content {
	width: 100%;
	overflow: auto;
}
.clear{
	clear: both;
}
.modal-body p{
	display: block;
}
.modal-body ul{
	display: block;
	float: left;
	width: 600px;
}
.modal-body ul li{
}
.modal-body .help-content{
	float: left;
	display: block;
	width: 600px;
	padding-left: 5px;
}
.modal-body .modal-img-float{
	display: block;
	float: left;
}

.modal canvas{
	margin-left: 40%;
}
[draggable] {
    cursor: move;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
