<!DOCTYPE html>
<html>
<head>
	<title>Retrieve'n Admin</title>
	<meta charset="utf-8" />
	<meta name="description" content="This is a webapp to administrate distributed database">
	<meta name="author" content="Paquet Kevin">
	<meta name="author" content="Denaux Robin">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body ng-app="MonApp">

	<div ng-controller="MainController" id="main-container">
		<div class="col-md-9 ">
			<h1>Welcome on Retrieve'n Admin</h1>
			<div id="button-zone">
				<a value=" Save" class="btn btn-info" type="submit" ng-click="loadModifications()">Load configuration</a>
				<a value=" Load" class="btn btn-info" type="submit" ng-click="saveModifications()">Save configuration</a>
				<a value="automaticBalance" class="btn btn-info" ng-click="automaticBalance()">Automatic balance</a>
				<a value="Table" class="btn btn-info" type="submit" ng-click="rebuildDatasToShow()">Chose Tables</a>
				<a value="refreshList" class="btn btn-default" ng-click="refreshBool = true">Refresh sort</a>
				<a value="help" class="btn btn-default" ng-click="openModal('help')">Help !</a>
			</div>
			<div collapse="!tableCollapsed">
				<div id="tableZone" class="col-md-3">
					<h3 align="center">Table(s) to work on</h3>
						<input  type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /> 
						<label>Select All</label>

					<div class="tableDatas" ng-repeat="table in tables">
						<input type="checkbox" ng-model="table.selected">
						<label>{{table.name}}</label>
						<a ng-click="addToTmp(table)" href=""><span class="glyphicon glyphicon-plus"></span></a>
					</div>
				</div>
				<div id="tableZoneTmp" class="col-md-3" ng-show="!showTmpGroup">
					<h3 align="center">New group</h3>
					<div class="input-group">
						<ul>
							<li ng-repeat="table in tmpTableGroup">
							<label>
								{{table.name}}
								<a ng-click="removeFromTmp(table)" href=""><span class="glyphicon glyphicon-minus"></span></a>
							</label>
							</li>
						</ul>
						<div>
					    	<input type="text" class="form-control" ng-disabled="!tmpGroupCreateDisabled" ng-model="tmpGroupName">
					    	<span class="input-group-btn">
					    		<a class="btn btn-success" type="button" ng-disabled="!tmpGroupCreateDisabled" ng-click="createGroup(tmpGroupName)">Create</a>
					    	</span>
				    	</div>
				    </div>
				</div>
				<div id="tableZoneGroups" class="col-md-3">
					<h3 align="center">Groups</h3>
					<div ng-repeat="group in tableGroups" class="tableGroup">
						<input type="checkbox" ng-model="group.selected" ng-click="manageGroupVision(group)" />
						<a ng-click="removeGroup(group)" href="" class="suppressButton"><span class="glyphicon glyphicon-remove-sign"></span></a>
						Name: {{group.name}}
						<ul>
							<li ng-repeat="table in group">
								{{table.name}} {{table.selected}}
							</li>
						</ul>

					</div>
				</div>
			</div>
			<div collapse="tableCollapsed">
				<div id="serversSlider">
					<ul>
						<li ng-repeat="server in dataServer.servers | orderBy: refresh" class="serverSlider" x-lvl-draggable='true' serverId="{{server.id}}" imbalance="{{server.imbalance}}">
							id: {{server.id}} <br>
							weight: {{server.weight}} <br>
							<img src="img/server.png" alt="serverSlider"/>

							<progressbar class="progress-striped active" value="weightPercent(server.weight,worstWeight)" type="{{weightBalanceWarningType(server.weight)}}"></progressbar>
						</li>
					</ul>
				</div>
				<div id ="serverContainer" x-lvl-drop-target='true' x-on-drop='droppedServer(dragEl, dropEl)'>
					<p id="testManip">
						worstImbalance: {{worstImbalance}} <br>
						average: {{average}}<br>
						Servers:
						<a value="clearAll" class="button-clear btn btn-danger " ng-click="clearManipZone()">Clear All</a>
						<div ng-repeat="chunkServer in splitServers">
							<div class="row">
								<div ng-repeat="server in chunkServer" class="col-md-3">
									<div class="shards" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)' serverWeight="{{server.weight}}" serverId="{{server.id}}">
										<div class="serverHeader" serverId="{{server.id}}" x-lvl-draggable='true' ng-click="server.isCollapsed = !server.isCollapsed">
											<img src="img/server.png" alt="server" />
											<span class="server-id">
												id: {{server.id}} <br>
												weight: {{server.weight | limitTo: 10}} <br>
												<progressbar class="progress-striped active" value="weightPercent(server.weight,worstWeight)" type="{{weightBalanceWarningType(server.weight)}}"></progressbar>
											</span>
										</div>
										<div class="shardsContainer">
											<div ng-repeat="shard in server.shards | orderObjectBy: 'weight'" class="shard" x-lvl-draggable='true' weight="{{shard.weight}}" serverId="{{server.id}}" shardId="{{shard.id}}" tableName="{{shard.table}}" collapse="server.isCollapsed" ng-show="showShard(shard)">
												<a popover-placement="right" popover="{{shard.id}}" class="btn btn-default">ID</a>
												weight: {{shard.weight | limitTo: 5}}<br>
												table:..{{shard.table | limitTo: -20}}
												<progressbar class="progress overrideProgress active" value="weightPercent(shard.weight,server.weight)" type="{{weightWarningType(shard.weight,server.weight)}}"></progressbar>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div id="rightPanel" class="col-md-3 panelSide">
			<div id="trash" x-lvl-drop-target='true' x-on-drop='droppedToRemove(dragEl, dropEl)'>
				<img src="img/server-remove.png" alt="server-remove">
				<span class="removeServerText">Remove server</span>
			</div>
			<div id="changesZone">
				<h4 align="center">Changes done</h4>
				<table class="table table-striped">
					<tr ng-repeat="change in changes">
					<td>
						<span class="changeContent">
							Shard <i><span ng-mouseover="highlightShard(change.idShard)" ng-mouseleave="unHighlightShard(change.idShard)">{{change.idShard | limitTo: 10}}...{{change.idShard | limitTo: -10}}</span></i> from server <i>{{change.idOrigin}}</i> to server <i>{{change.idDest}}</i>
						</span>
						<a ng-click="removeChange(change)" href=""><span class="glyphicon glyphicon-remove-sign"></span></a>
					</td>
					</tr>
				</table>
				<a  value="apply" class="btn btn-info col-md-6 btn-block" type="submit" ng-click="applyModifications()">Apply modifications</a>
				<a  value="abort" class="btn btn-danger col-md-6 btn-block" type="submit" ng-click="abortChanges()">Abort changes</a>
			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	
	<script src="js/local-storage/angular-local-storage.js"></script>
	<script src="js/client/bruteforce.js"></script>
	<script src="js/client/client.js"></script>
	<script src="js/loading/jquery.knob.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap/ui-bootstrap-0.11.0.min.js"></script>
	<script src="js/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/dragAndDrop/lvl-uuid.js"></script>
	<script src="js/dragAndDrop/lvl-drag-drop.js"></script>

</body>
</html>