<!DOCTYPE html>
<html>
<head>
	<title>JSBase</title>
	<meta charset=utf-8 />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body ng-app="MonApp">
	<div ng-controller="MainController" id="main-container">
		<div class="col-md-9 ">
			<h1>Bienvenue sur JSBase</h1>
			<div id="button-zone">
				<a serverId="300" value=" Send" class="btn btn-info" type="submit" onclick="window.location='http://google.com';">Save configuration</a>
				<a value="refreshList" class="btn btn-default" ng-click="refreshBool = true">Refresh sort</a>
				<a value="automaticBalance" class="btn btn-default" ng-click="automaticBalance()">Automatic balance</a>
			</div>
			<div id="serversSlider">
				<ul>
					<li ng-repeat="server in dataServer.servers | orderBy: refresh" class="serverSlider" x-lvl-draggable='true' serverId="{{server.id}}" imbalance="{{server.imbalance}}">
						id: {{server.id}} <br>
						weight: {{server.weight}} <br>
						<img src="img/server.png" alt="serverSlider"/>

						<progressbar class="progress-striped active" value="weightPercent(server.weight,worstWeight)" type="{{weightBalanceWarningType(server.weight)}}"></progressbar>
					</li>
				</ul>
			</div>
			<div id ="serverContainer" x-lvl-drop-target='true' x-on-drop='droppedServer(dragEl, dropEl)'>
				<p id="testManip">
					worstImbalance: {{worstImbalance}} kg <br>
					average: {{average}}<br>
					Servers:
					
					<div ng-repeat="chunkServer in splitServers">
						<div class="row">
							<div ng-repeat="server in chunkServer" class="col-md-3">
								<div class="shards" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)' serverWeight="{{server.weight}}" serverId="{{server.id}}">
									<div class="serverHeader" serverId="{{server.id}}" x-lvl-draggable='true' ng-click="server.isCollapsed = !server.isCollapsed">
										<img src="img/server.png" alt="server" />
										<span class="server-id">
											id: {{server.id}} <br>
											weight: {{server.weight | limitTo: 10}} kg <br>
											<progressbar class="progress-striped active" value="weightPercent(server.weight,worstWeight)" type="{{weightBalanceWarningType(server.weight)}}"></progressbar>
										</span>
									</div>
									<div ng-repeat="shard in server.shards | orderObjectBy: 'weight'" class="shard" x-lvl-draggable='true' weight="{{shard.weight}}" serverId="{{server.id}}" shardId="{{shard.id}}" collapse="server.isCollapsed">
										<a popover-placement="right" popover="{{shard.id}}" class="btn btn-default">ID</a>
										weight: {{shard.weight | limitTo: 5}}kg
										<progressbar class="progress overrideProgress active" value="weightPercent(shard.weight,server.weight)" type="{{weightWarningType(shard.weight,server.weight)}}"></progressbar>
									</div>
								</div>
							</div>
						</div>
					</div>
				</p>
			</div>
		</div>
		<div id="rightPanel" class="col-md-3 panelSide">
			<div id="trash" x-lvl-drop-target='true' x-on-drop='droppedToRemove(dragEl, dropEl)'>
				<img src="img/server-remove.png" alt="server-remove">
				<span class="removeServerText">Remove server</span>
			</div>
			<div id="changesZone">
				<h4 align="center">Changes done</h4>
				<table class="table table-striped">
					<tr ng-repeat="change in changes">
					<td>
						<span class="changeContent">
							Shard <i><span ng-mouseover="highlightShard(change.idShard)" ng-mouseleave="unHighlightShard(change.idShard)">{{change.idShard | limitTo: 20}}...{{change.idShard | limitTo: -10}}</span></i> from server <i>{{change.idOrigin}}</i> to server <i>{{change.idDest}}</i>
						</span>
						<a ng-click="removeChange(change)" href=""><span class="glyphicon glyphicon-remove-sign"></span></a>
					</td>
					</tr>
				</table>
				<a  value="apply" class="btn btn-info col-md-6 btn-block" type="submit" ng-click="applyModifications()">Apply modifications</a>
				<a  value="abort" class="btn btn-danger col-md-6 btn-block" type="submit" ng-click="abortChanges()">Abort changes</a>
			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/local-storage/angular-local-storage.js"></script>
	<script src="js/client/bruteforce.js"></script>
	<script src="js/client/client.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap/ui-bootstrap-0.11.0.min.js"></script>
	<script src="js/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/dragAndDrop/lvl-uuid.js"></script>
	<script src="js/dragAndDrop/lvl-drag-drop.js"></script>

</body>
</html>

<!--
barre de poid par rapport max/moyenne //// FAIT ///

locker un shard

virer un server de la zone  /// FAIT ///

script auto lancé avec bouton

on selectionne les tables de travaille et les region de celle-ci sont affichée

quand on arrive on doit afficher toutes les tables (bouton ..)

pouvoir deplacer dans la zone de manip

possibilite de split une region
-->