<!DOCTYPE html>
<html>
<head>
	<title>JSBase</title>
	<meta charset=utf-8 />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body ng-app="MonApp">
	<div ng-controller="MainController" id="main-container" class="row">
		<div class="col-md-12 col-md-offset-4">
		<h2>Bienvenue sur JSBase</h2>
		<div id="button-zone">
			<button  value=" Send" class="btn btn-primary" type="submit">Sauvegarder les modifications</button>
			<button  value=" Send" class="btn btn-primary" type="submit">Appliquer les modifications</button>
		</div>
		<div id="serversSlider">
			<ul>
				<li ng-repeat="server in dataServer.servers" class="serverSlider" ng-style="serverWeight(server.weight)">
					id: {{server.id}} <br>
					weight: {{server.weight}}
					<img src="img/server.png" alt="serverSlider" />
				</li>
			</ul>
		</div>
		<div id ="container">
			<p>
				worstImbalance: {{dataServer.worstImbalance}} kg <br>
				Servers:
				<ul>
				<li ng-repeat="server in dataServer.servers" class="server">
					<img src="img/server.png" alt="server" />
					<span class="server-id">
						id: {{server.id}} <br>
						weight: {{server.weight}} kg
					</span>
					<ul class="shards" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)' serverWeight="{{server.weight}}" serverId="{{server.id}}"> Shards :
						
						<li ng-repeat="shard in server.shards" class="shard" x-lvl-draggable='true' weight="{{shard.weight}}" serverId="{{server.id}}" shardId="{{shard.id}}">
							id: {{shard.id}} <br/>
							weight: {{shard.weight}}kg
							<progressbar class="progress-striped active" value="weightPercent(shard.weight,server.weight)" type="{{weightWarningType(shard.weight,server.weight)}}"></progressbar>
						</li>
					</ul>
				</li>
				</ul>
			</p>
		</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/client/client.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="js/ui-bootstrap/ui-bootstrap-0.11.0.min.js"></script>
	<script src="js/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/dragAndDrop/lvl-uuid.js"></script>
	<script src="js/dragAndDrop/lvl-drag-drop.js"></script>
</body>
</html>